<form #logIn="ngForm" (ngSubmit)="submit(logIn)" >
    
<div class="form-group container">
    <div >
      <label for="uname"><b>Username</b></label>
      <input type="text" class="form-control" [(ngModel)]="login.name"  name="name" required>
    </div>
    
    <div >
      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" [(ngModel)]="login.pwd" #pwd name="pwd" required>
      <button (click)="on = !on; pwd.type= on ? 'text':'password'" type="button" >a</button>
    </div>
    <div *ngIf="invalidUser" class="text-danger" >
      Invalid Username or password
    </div>
      <button class="btn-success" type="submit" >Login</button>
 </div>
  
  </form>